<a href="https://colab.research.google.com/github/hardeep79/ineuron-assignment/blob/main/Assignment_Sep_25%2C_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Assignment

In [ ]:
# Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

First error is name 'Ten' is not defined because Phyton is case sensitive and if we don't print variable as defined it will give us error.
Second error is when we used reserve word 'print' as a variable
Third is keyboard interrupt. Don't think this is an erroe buy maybe it happened due to not entering full information

In [ ]:
# Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
A = int(input("Enter Value of A: "))
B = int(input("Enter Value of B: "))
print(f"""
Sum of A and B is: {A+B}
Multiple of A and B is: {A*B}
Division of A and B is: {A/B}
""")

Enter Value of A: 10
Enter Value of B: 5

Sum of A and B is: 15
Multiple of A and B is: 50
Division of A and B is: 2.0

In [ ]:
A = int(input("Enter Value of A: "))
B = int(input("Enter Value of B: "))
print(f"""
Square of A is: {A**2}
Square of A is: {B**2}
""")

Enter Value of A: 10
Enter Value of B: 5

Square of A is: 100
Square of A is: 25

# How many reserve keywords are there in python and why we should not use them as a variable name

In [ ]:
# There are 33 reserve words in phython. These words have predefined meaning and syntax and if used as variables they will loose theor predefined meaning and when we try to get result using reserve words we will get syntax error.

# Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [ ]:
lastname, firstname = "Singh", "Hardeep"
print(f"{lastname}.{firstname}@gmail.com")

Singh.Hardeep@gmail.com

Try to print the following lines -
Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

In [ ]:
name = "Sunny"
address = "22/3"
Wage = "$20"
print(f"""
Hi I am {name}
My address is {address}
I earn {Wage} daily""")

Hi I am Sunny
My address is 22/3
I earn $20 daily

Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [ ]:
name = input("Name: ")
address = input("Address:")
date_of_birth = input('Date of Birth')
print (f"""
Name: {name}
Address {address}
DOB: {date_of_birth}
Email: {name}@dummycollege.com
""")

Name: Hardeep
Address:111 No Name Street
Date of BirthJan 1, 2000

Name: Hardeep
Address 111 No Name Street
DOB: Jan 1, 2000
Email: Hardeep@dummycollege.com

In [ ]:
name_first = input("First Name: ")
name_last = input("Last Name: ")
address = input("Address:")
date_of_birth = input('Date of Birth')
print (f"""
Name: {name}
Address {address}
DOB: {date_of_birth}
Email: {name_last}.{name_first}@dummycollege.com
""")

First Name: Hardeep
Last Name: Singh
Address:111 No Name Street
Date of BirthJan 1, 2000

Name: Hardeep
Address 111 No Name Street
DOB: Jan 1, 2000
Email: Singh.Hardeep@dummycollege.com

Convert the following -
"22.4" into integer
"22" into complex no.

In [ ]:
A = 22.4

In [ ]:
print(int(A))

22

In [ ]:
print(complex(A))

(22.4+0j)

In [ ]:
A = 22

In [ ]:
print(complex(A))

(22+0j)