<a href="https://colab.research.google.com/github/hardeep79/ineuron-assignment/blob/main/python_basics_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

'hello' is a string,

-87.8 is float,

6 is integer,

*, -, +,  /, are expressions

2. What is the difference between string and variable?

String represents text which is inserted in single or double inverted commas. Any number inserted in commas will be a string. 

Examples of string: "ineuron", "1245"

Variable is a name that can refer to any value

Examples of variable: x=10, a = "any name". Here both 'x' and 'a' are variables.

3. Describe three different data types.

Different data types are

String,
Integer,
Float,
Boolean

4. What is an expression made up of? What do all expressions do?

Expressions  are made up of either values or values and operators and they always make up one value. 

Example: 2 + 2 = 4 (2 is a value and + is operator which leads to single value which is the result 4. 2 by itself can be an expression.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

spam = 10 is an expression because you can assign value to a variable.

Statement is something where you cannot assiggn value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [1]:
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

'spam'+'spamspam'

'spam' * 3

In [2]:
'spam'+'spamspam'

'spamspamspam'

In [3]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

100 is an invalid variable name because variable cannot start with numbers, special symbols, space. Variable can only start with underscore or alphabet, that is why eggs is a valid variable name.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int()

float()

str()

10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'.

'I have eaten' and 'burritos' are both string and 99 is an integer and you cannot concatenate string and integer. so in this case integer need to be converted into string.

In [7]:
'I have eaten' + ' 99' + ' burritos.'

'I have eaten 99 burritos.'